*{
    margin: 0;
    padding: 0;
}
 
html,body{
    width:100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
 overflow-x: hidden;

 }

  
.container{
   
    width: 100vw;
    height: 100vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items:center;
}

.side{
    
    width: 40vw;
    height: 100vh;
}
img{
    
    width:40vw;
    height: 100vh;
}

.box{
    width: 60vw;
    height: 100vh;
    display:flex;
      /* justify-content: space-around;   */
 flex-direction: column; 
gap:20px ;

    

}

h2{
    margin: .3vw 0 0 0;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: max(4vw ,60px);
    text-align: center;
    letter-spacing: 0.3px;

}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: max(1.2vw ,20px);
    margin: 0 30px;
    padding: 10px 70px;
    text-align: center;

 
}



form{

   width: 60vw;
    display:flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
  flex-wrap: wrap;
  margin-top: 2vw ;
   gap: 20px 100px;
  padding:1.5vw;
    background-color: white;
}

.input_container{
    width: 300px;
    height: 5vw;
    padding:15px;
}

input{ 
    width: 250px;
    padding: 13px 10px;
   border: none;
   border-bottom: 2px solid rgb(45, 42, 42);
    margin-bottom: 20px; 
}
input:invalid {

    border-bottom: 2px solid rgb(214, 135, 135);
  }
  
  input:valid {
    border-bottom: 2px solid rgb(65, 161, 63);
  }
  
 button{
    background-color:black;
    color: white;
    border: none;
    width: 150px;
    margin: 0 80px 10px 100px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-family:  Helvetica, sans-serif;
    
 }

 label{
    margin:10px 0;
    font-size: 22px;
    background-color: white;

    
 }

 footer{
    
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
padding: 20px;
    background-color:rgba(202, 194, 194, 0.644);
  } 
   

 @media screen and (max-width: 1400px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }
    
    .container {
        width:100vw ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    footer{
        width: 97% ;
    }
    
 
    img{
            position: absolute;
        top: 0;
    right: 0;
        width: 100vw;
        height: 140vh;
    }

    .box{
        z-index: 1;
        position: absolute;
        top: 0;
    }

    form, input ,label{
        background-color: rgb(245, 245, 245);
    }
    
    input{
        padding: 10px;
    };
   

}

@media screen and (max-width: 1366px) {
   
    body{
        overflow-y: hidden;
        overflow-x: hidden;
        
    }
    
    form,input,label{
    
        background-color: transparent;
    
    }

.box{
    
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

form{width: 40vw;}
h2{
    font-size: 50px;

}
p{
    width: 60vw;
}
img{
    width: 120vw;
}


footer{
    position: absolute;
    bottom: -40vh;
}

    

}

@media screen and (max-width: 825px) {

    
    .box{
        height: 1000px;
    }
    form{
        width: 400px;
        height: 900px
    };

    button{
        margin: 30px;
        padding: 20px;
    }
    footer{
        width: 93vw
    };


}
